@media (max-width: 729px) {
  .main-section::before {
    opacity: 1;
  }
}
@media (min-width: 729px) {
  .header {
    opacity: 0;
    animation: fadeIn 0.7s forwards;
  }
  .svg-header-title-dims {
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.8s;
  }
  .svg-Frame-dims {
    opacity: 0;
    animation: combinedAnimation 6s forwards 0.8s;
  }
  @keyframes combinedAnimation {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(1440deg);
    }
    100% {
        opacity: 1;
        transform: rotate(1440deg);
    }
}

  .svg-header-title-dims {
    animation: fadeIn 0.7s forwards 1s;
  }

  .header__nav li {
    opacity: 0;
  }
  .header__nav li:nth-child(1) {
    animation: fadeIn 0.7s forwards 1s;
    animation-delay: 1.1s;
  }

  .header__nav li:nth-child(2) {
    animation: fadeIn 0.7s forwards 1s;
    animation-delay: 1.2s;
  }

  .header__nav li:nth-child(3) {
    animation: fadeIn 0.7s forwards 1s;
    animation-delay: 1.3s;
  }

  .header__nav li:nth-child(4) {
    animation: fadeIn 0.7s forwards 1s;
    animation-delay: 1.4s;
  }
  .header__buttons button {
    opacity: 0;
    animation: fadeIn 0.7s forwards 1.5s;
  }

  .header__buttons button:nth-child(1) {
    animation-delay: 1.5s;
  }

  .header__buttons button:nth-child(2) {
    animation-delay: 1.6s;
  }

  ////////////////////////////////////////////////////////////////
  .hero-content {
    opacity: 0;
    animation: text-focus-in 2s forwards 0.7s;
  }
  .hero-section__img {
    opacity: 0;
    animation: text-focus-in 2s forwards 0.7s;
  }
  .desktop-info {
    opacity: 0;
    animation: text-focus-in 2s forwards 0.7s;
  }

  //////////////////////////////////////////
  .element-show .svg-how-to path {
    animation: dash 5s ease forwards 0.5s;
    opacity: 1;
  }

  ///////////////////////////////////////
  .description__content h3 {
    opacity: 0;
    transform: translateX(-50px);
  }
  .element-show .description__content h3 {
    transition: 1s ease;
    transition-delay: 0.1s;
    opacity: 1;
    transform: translateX(0px);
  }
  /////////////////////////////////////
  .description__wrapper p {
    opacity: 0;
    transform: scale(0.8);
  }
  .element-show.description__wrapper p {
    transition: 1s ease;
    transition-delay: 0.5s;
    opacity: 1;
    transform: scale(1);
  }
  /////////////////////////////////////
  .description__subtitle h4 {
    opacity: 0;
    transform: translateX(-50px);
  }
  .element-show .description__subtitle h4 {
    transition: 1s ease;
    transition-delay: 0.3s;
    opacity: 1;
    transform: translateX(0px);
  }
  /////////////////////////////////////
  .svg-big-arrow-dims {
    opacity: 0;
    transform: translateX(-50px);
  }
  .element-show .svg-big-arrow-dims {
    transition: 1s ease;
    transition-delay: 0.5s;
    opacity: 1;
    transform: translateX(0px);
  }
  /////////////////////////////////////////////////////////////////////
  .about-us__card {
    opacity: 0;
  }

  .element-show .about-us__card:nth-child(1) {
    animation: fadeInOpacity 1.4s forwards 0.2s;
  }

  .element-show .about-us__card:nth-child(2) {
    animation: fadeInOpacity 1.4s forwards 0.3s;
  }
  .element-show .about-us__card:nth-child(3) {
    animation: fadeInOpacity 1.4s forwards 0.4s;
  }

  .element-show .about-us__card:nth-child(4) {
    animation: fadeInOpacity 1.4s forwards 0.5s;
  }
  ///////////////////////////////////////////////////////////////////////
  .introduction__img {
    opacity: 0;
    transform: translateX(-30px);
  }
  .introduction__text {
    opacity: 0;
    transform: translateY(40px);
  }
  .element-show .introduction__text {
    animation: fadeIn 1.7s forwards 0.6s;
  }
  .element-show .introduction__img {
    animation: fadeIn 1.7s forwards 0.6s;
  }
  .element-show.introduction__content::before {
    animation: fadeInOpacity 1.5s forwards 0.8s;
  }
  ////////////////////////////////////////////////////////
  .technologies__content-text, .technologies__items {
    opacity: 0;
    transform: translateY(55px);
  }
  .element-show .technologies__content-text, .element-show.technologies__items {
    animation: fadeIn 1.7s forwards 0.4s;
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes fadeInOpacity {
    to {
      opacity: 1;
    }
  }
  @keyframes fadeInOpacityShow {
    to {
      opacity: 0;
    }
  }
  @keyframes rotateAnimation {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateOnce {
    to {
      transform: rotate(360deg);
    }
  }
}
