@media (max-width: 1300px) {
  .about-us {
    &__items {
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
      row-gap: 20px;
      justify-items: center;
      margin: 0 auto;
    }
    &__card {
      width: 310px;
    }
  }
  .about-us-technologies {
    background-position: center top 90%;
  }
}
@media (max-width: 1320px) {
  .header {
    justify-content: space-between;
  }
  .main-section {
    background-position: calc((100vw - 1278px) / 2 - 110px);
  }
  .header__nav ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    row-gap: 15px;
  }
  .header__buttons {
    margin-left: 30px;
    gap: 25px;
    .button-transparent,
    .button-gradient {
      min-width: 130px;
      padding: 0 13px;
    }
  }
  .svg-Frame-dims,
  .svg-header-title-dims {
    width: 73px;
  }
}
@media (max-width: 1272px) {
  .desktop-info {
    margin: 45px auto 0px;
    padding: 30px 17px;
    max-width: 90%;
    max-height: 110px;
    gap: 20px;
    &__location {
      img {
        width: 22px;
      }
      &::after {
        margin-left: 60px;
        height: 90px;
      }

      &-text {
        h2 {
          font-size: 15px;
        }
        a {
          font-size: 11px;
        }
        p {
          font-size: 11px;
        }
      }
    }
  }
  .hero-section__img {
    max-width: 436px;
    max-height: 424px;
  }
  .main-section {
    background-position: calc((100vw - 1278px) / 2 - 145px);
  }
  .content__title {
    max-width: 80%;
  }
}
@media (max-width: 1150px) {
  //Block №2
  .description__wrapper p {
    max-width: 535px;
  }
}
@media (max-width: 994px) {
  .main-section {
    background-image: url(../images/background-main-mobile.png);
    background-position: center -100%;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    &__wrap {
      flex-direction: column-reverse;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    p {
      display: none;
    }
    &__button {
      margin-top: 20px;
    }
  }
  .content__button .button-gradient {
    margin-right: 0px;
  }
  .svg-arrow-dims {
    display: none;
  }
  .desktop-info {
    max-width: 100%;
  }
  //Block №2
  .description {
    &__subtitle {
      img {
        display: none;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        display: none;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .introduction {
    &__img {
      width: 90%;
      img {
        width: 100%;
      }
    }
    &__content {
      padding-top: 50px;
    }
  }
  //Block HOW-To
  .how-to {
    &__build {
      gap: 20px;
    }
    &__build-circle__text {
      max-width: 100%;
      h2 {
        font-size: 19px;
      }
    }
    &__build-circle__wrap {
      width: 100%;
    }
    .border {
      border: 14px solid rgba(13, 13, 13, 0.32);
      width: 17vw;
      height: 17vw;
    }
    &__build-circle {
      h6 {
        font-size: 50px;
      }
    }
  }
  .svg-how-to {
    width: 100%;
    top: 0;
    right: 0;
    path {
      stroke-width: 9;
    }
  }
}
@media (max-width: 806px) {
  .header {
    z-index: 1000;
  }
  .header__buttons {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .desktop-info {
    display: none;
  }
  .mobile-info__slider {
    display: flex;
    margin: 53px auto 0;
  }
  .mobile-info__location {
    img {
      width: 36px;
    }
    a {
      font-size: 14px;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }
  .svg-arrow-right-dims,
  .svg-arrow-left-dims {
    width: 32px;
  }
  .hero-section {
    &__img {
      max-width: 379px;
      max-height: 388px;
    }
  }
  //Block №2
  .introduction {
    padding-top: 54px;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: none;
    }
    &__content {
      flex-direction: column;
    }
    &__img {
      width: 70%;
      padding-right: 0px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3,
      h4 {
        display: none;
      }
      p {
        font-size: 15px;
      }
    }
  }
  //Block №3
  .about-us {
    padding-top: 65px;
    &__items {
      display: none;
    }
  }
  .mobile-about-us {
    padding: 15px;
    &__slider {
      padding-top: 60px;
      display: flex;
    }
  }
  //Block№4
  .technologies {
    padding-top: 70px;
    &__content {
      height: 222px;
    }
    &__content-wrap {
      a {
        display: none;
      }
    }
    &__content-text {
      h3,
      h4 {
        font-size: 27px;
      }
    }
    &__slider {
      display: flex;
    }
    &__items {
      display: none;
    }
  }
  .technologies__button-next,
  .technologies__button-prev {
    width: 50%;
    img {
      width: 65px;
    }
  }
  //Block how-to
  .how-to {
    &__build-circle__text {
      h2 {
        font-size: 17px;
      }
    }
    .border {
      width: 16vw;
      height: 16vw;
    }
    &__build-circle {
      h6 {
        font-size: 40px;
      }
    }
  }
  .svg-how-to {
    top: -26px;
  }
}
@media (max-width: 730px) {
  .how-to {
    &__build {
      display: none;
    }
  }
  .how-to__slider {
    display: flex;
    .border {
      width: 26vw;
      height: 26vw;
    }
    .how-to__build-circle__text h2 {
      text-align: center;
      font-size: 24px;
    }
  }
}
@media (max-width: 570px) {
  .content__title {
    h1 {
      font-size: 24px;
    }
    span {
      font-size: 36px;
    }
  }
  .mobile-info__location {
    img {
      width: 25px;
    }
    a {
      font-size: 12px;
    }
    p {
      max-width: 100%;
      font-size: 12px;
    }
  }
  //Block №2
  .introduction {
    &__img {
      width: 83%;
    }
    &__text {
      p {
        font-size: 13px;
      }
    }
  }
  //Block№4
  .technologies {
    &__content {
      height: 180px;
    }
    &__content-text {
      h3,
      h4 {
        font-size: 21px;
      }
    }
    &__content-wrap {
      .arrow-bottom {
        width: 80px;
      }
    }
    &__slider {
      width: 90%;
    }
  }
  .technologies-slide {
    padding: 0px 5px;
    &__img {
      width: 70%;
      img {
        width: 100%;
        height: 160px;
      }
    }
  }
  //block how-to slider
  .how-to__slider {
    width: 100%;
    .border {
      width: 33vw;
      height: 33vw;
    }
  }
  

}
@media (max-width: 435px) {
  .description {
  &__content h3 {
    font-size: 25px;
  }
  &__subtitle  h4{
    font-size: 25px;
  }
  }
  .main-section {
    background-position: center 433%;
  }
  .hero-section {
    &__img {
      max-width: 357px;
      max-height: 326px;
    }
  }
  .mobile-info {
    padding: 0px 10px;
  }
  .content__title {
    max-width: 100%;
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 24px;
    }
  }
  //Block №2
  .introduction {
    &__img {
      width: 100%;
    }
  }
  //Block №3
  .mobile-about-us {
    &__slider {
      width: 85%;
    }
  }
  //Block№4
  .technologies {
    &__content {
      height: 170px;
    }
    &__content-text {
      h3,
      h4 {
        font-size: 20px;
      }
    }
    &__content-wrap {
      .arrow-bottom {
        width: 60px;
      }
    }
    &__slider {
      width: 100%;
      padding-top: 20px;
    }
  }
  .technologies-slide {
    &__img {
      width: 96%;
      img {
        width: 100%;
        height: 140px;
      }
    }
  }
  //block how-to slider
  .how-to__slider {
    .border {
      width: 34vw;
      height: 34vw;
    }
    .how-to__build-circle__text h2 {
      text-align: center;
      font-size: 24px;
    }
  }
}


