@import '_nullstyle.scss';
@import '_header.scss';
@import '_buttons.scss';
@import './blocks/_main.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/stolzl_regular.woff2');
}
body {
    background: #302C42;
    color: #FFF;
    line-height: normal;
}
p{
    font-family: 'Montserrat';
    font-weight: 400;
}
a {
    color: white;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1278px;
}