.description {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            max-width: 652px;
            font-size: 16px;
        }
    }
    &__subtitle {
        display: flex;
        align-items: center;
        gap: 30px;
        .svg-big-arrow-dims {
            height: 50px;
        }
    }
}