.introduction {
    padding-top: 88px;
    &__wrapper {
        background-image: url("/images/backgroung-about.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__text {
        p{
            font-size: 16px;
            max-width: 630px;
            margin-top: 42px;
        }
        button{
            margin-top: 28px;
        }
    }
}